.mainProductPage{
    position: relative;
    width: 100%;
    height: 100%;
}


.productComponentMain{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.productViewComponentMain{

    margin: auto;
    width: 70%;
    height: 100%;
    display: grid;
}