/* CustomerSupportPage.css */
 .SupportHeading h1 {
  color: #e44d26;
  transition: background 0.3s ease, color 0.3s ease;
  margin-top:  30px;
  margin-left: 590px;
 }
.customer-support-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
 .customer-support-container h1, h2 {
    color: #e45138;

  }
  
  .confidence-message {
    margin-bottom: 20px;
  }
  
  .warranty-section, .return-policy-section {
    margin-bottom: 30px;
  }
  
  .customer-support-container ul {
    padding-left: 20px;
  }

  