.green-hover:hover{
    background: #69a05d !important;
}
.green-btn{
    background-color: #69a05d !important;
    border: 0 !important;
    width: 20%;
}

 .form-control:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #57585a !important;
}
.product-card-imgs{
    width: 100% !important;
    height: auto !important;
}