.mainProductComponent{
    margin: auto;
    padding: 0px;
    width: 300px;
    height: 400px;

}

.imageProductComponent{
    background-color: green;
    height: 70%

}

.descriptionProductComponent{
    background-color: blue;
    height: 30%

}

.productDescription{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.productName{
    color: black;
}  
.productBrand{
    color: black;
}
.productPrice{
    color: black;

}
.productPrice.deal {
    text-decoration: line-through;
}
.productDealPrice{}
.productDeal{}


